docker/environment/nifi-mongo/pipeline-nifi/csv-to-json-mongo.json
{"flowContents":{"identifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","instanceIdentifier":"184f58f8-0195-1000-9972-f53ad8e0f546","name":"csv-to-json-mongo","comments":"","position":{"x":-424.0,"y":-272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b34866a-67fe-34ef-9e40-d9ec92442840","instanceIdentifier":"185eabda-0195-1000-5600-523ffc0c4480","name":"ConvertRecord","comments":"","position":{"x":24.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"73c1989d-eafe-31f6-b74e-e3c914b70fa7","Record Reader":"c23c26fe-345d-37b6-b34d-de7dea910ad2"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"87410ca1-3908-3a78-9f49-54654bec062d","instanceIdentifier":"186dd6c5-0195-1000-7692-36f7b23a01af","name":"UpdateAttribute","comments":"","position":{"x":-424.0,"y":240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.1.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace('.csv','.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"d8d2a345-3ae5-3100-bdb7-ee3237177b6a","instanceIdentifier":"187f14bd-0195-1000-9f94-7117436b2242","name":"JoltTransformJSON","comments":"","position":{"x":464.0,"y":520.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.1.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"true","Jolt Specification":"[\n\t{\n\t\t\"operation\": \"shift\",\n\t\t\"spec\": {\n\t\t\t\"*\": \"&\"\n\t\t}\n\t},\n\t{\n\t\t\t\"operation\": \"default\",\n\t\t\t\"spec\": {\n\t\t\t\t\"filename\": \"${filename}\",\n\t\t\t\t\"import_type\": \"csv\",\n\t\t\t\t\"import_time\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n\t\t\t\t\"recordId\": \"${uuid}\"\t\t\t\t\n\t\t\t}\n\t}\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"f396eab4-764f-39bd-a919-4db26d4f8ac7","instanceIdentifier":"1876a981-0195-1000-8f09-258f1c0b8566","name":"PutMongo","comments":"","position":{"x":512.0,"y":800.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.1.0"},"properties":{"mongo-client-service":"7d6ca03b-0025-3199-9f64-af18d4d283a8","Upsert":"false","Update Query Key":null,"Update Method":"one","Mode":"insert","Mongo Collection Name":"csv","putmongo-update-query":null,"put-mongo-update-mode":"doc","Mongo Database Name":"imports","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Method":{"name":"Update Method","displayName":"Update Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"51003c90-34b6-31e4-80b4-8470d90ecf98","instanceIdentifier":"18926546-0195-1000-135d-c9f90aa64c6c","name":"SplitJson","comments":"","position":{"x":336.0,"y":256.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"eb0f487a-bed2-3591-9ce3-cb3233ec8c64","instanceIdentifier":"18b3aa93-0195-1000-a353-d633a33bd3f9","name":"PutFile","comments":"","position":{"x":840.0,"y":88.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/work/csv/failure","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"9c0001c1-e701-3e0c-adf9-4b89f5e0c282","instanceIdentifier":"1851a0f1-0195-1000-eab2-0fcc7ff3e685","name":"GetFile","comments":"","position":{"x":-216.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/work/csv","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"ce6cf461-c263-3e2d-acc0-6283ab3a35ca","instanceIdentifier":"1867f51e-0195-1000-f7e8-aab7b050013f","name":"PutFile","comments":"","position":{"x":-400.0,"y":536.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/work/json","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"31e5b818-4094-3ee3-9d72-a528027af038","instanceIdentifier":"18934f18-0195-1000-134c-8868c3ea878a","name":"","source":{"id":"d8d2a345-3ae5-3100-bdb7-ee3237177b6a","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"187f14bd-0195-1000-9f94-7117436b2242"},"destination":{"id":"f396eab4-764f-39bd-a919-4db26d4f8ac7","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"PutMongo","comments":"","instanceIdentifier":"1876a981-0195-1000-8f09-258f1c0b8566"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"f8fa076f-cf2b-3457-b661-82d4c44f60f8","instanceIdentifier":"18b3c954-0195-1000-d240-f3e5224523fc","name":"","source":{"id":"3b34866a-67fe-34ef-9e40-d9ec92442840","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"ConvertRecord","comments":"","instanceIdentifier":"185eabda-0195-1000-5600-523ffc0c4480"},"destination":{"id":"eb0f487a-bed2-3591-9ce3-cb3233ec8c64","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"PutFile","comments":"","instanceIdentifier":"18b3aa93-0195-1000-a353-d633a33bd3f9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"ddd839b9-4799-3216-a180-aac1dc95356b","instanceIdentifier":"186e6db6-0195-1000-0652-af61b2230014","name":"","source":{"id":"3b34866a-67fe-34ef-9e40-d9ec92442840","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"ConvertRecord","comments":"","instanceIdentifier":"185eabda-0195-1000-5600-523ffc0c4480"},"destination":{"id":"87410ca1-3908-3a78-9f49-54654bec062d","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"UpdateAttribute","comments":"","instanceIdentifier":"186dd6c5-0195-1000-7692-36f7b23a01af"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"b1721b84-3aa4-3f6b-804e-fca3ea013f5b","instanceIdentifier":"18936bba-0195-1000-2e09-5835f5fbe84e","name":"","source":{"id":"3b34866a-67fe-34ef-9e40-d9ec92442840","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"ConvertRecord","comments":"","instanceIdentifier":"185eabda-0195-1000-5600-523ffc0c4480"},"destination":{"id":"51003c90-34b6-31e4-80b4-8470d90ecf98","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"SplitJson","comments":"","instanceIdentifier":"18926546-0195-1000-135d-c9f90aa64c6c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"4f7ed274-2fc4-319b-8111-2e330f6f64f1","instanceIdentifier":"1893a90f-0195-1000-c855-dfa6c42cbbf9","name":"","source":{"id":"51003c90-34b6-31e4-80b4-8470d90ecf98","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"SplitJson","comments":"","instanceIdentifier":"18926546-0195-1000-135d-c9f90aa64c6c"},"destination":{"id":"d8d2a345-3ae5-3100-bdb7-ee3237177b6a","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"187f14bd-0195-1000-9f94-7117436b2242"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"945280a3-9d14-3aa9-8e12-aa27daaa9021","instanceIdentifier":"186e8a56-0195-1000-c9a4-6eaa6ea1762b","name":"","source":{"id":"87410ca1-3908-3a78-9f49-54654bec062d","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"UpdateAttribute","comments":"","instanceIdentifier":"186dd6c5-0195-1000-7692-36f7b23a01af"},"destination":{"id":"ce6cf461-c263-3e2d-acc0-6283ab3a35ca","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"PutFile","comments":"","instanceIdentifier":"1867f51e-0195-1000-f7e8-aab7b050013f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"5a33b597-9e7c-3170-9c6e-30e70960e570","instanceIdentifier":"185f03ca-0195-1000-c17e-275fc3809f27","name":"","source":{"id":"9c0001c1-e701-3e0c-adf9-4b89f5e0c282","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"GetFile","comments":"","instanceIdentifier":"1851a0f1-0195-1000-eab2-0fcc7ff3e685"},"destination":{"id":"3b34866a-67fe-34ef-9e40-d9ec92442840","type":"PROCESSOR","groupId":"1da1fefa-3fa2-3a66-978e-e44285f36d6a","name":"ConvertRecord","comments":"","instanceIdentifier":"185eabda-0195-1000-5600-523ffc0c4480"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"c23c26fe-345d-37b6-b34d-de7dea910ad2","instanceIdentifier":"18614672-0195-1000-203e-295437215bb6","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"true","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"7d6ca03b-0025-3199-9f64-af18d4d283a8","instanceIdentifier":"1877f555-0195-1000-3d41-6c8d1082320f","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.1.0"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":null,"mongo-uri":"mongodb://mongo-test:27017","mongo-write-concern":"ACKNOWLEDGED"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"mongo-write-concern":{"name":"mongo-write-concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"},{"identifier":"73c1989d-eafe-31f6-b74e-e3c914b70fa7","instanceIdentifier":"1861fca8-0195-1000-eac8-6b0a5b2a6762","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1da1fefa-3fa2-3a66-978e-e44285f36d6a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}